.git
.gitignore
**/node_modules
frontend/build
frontend/.cache
env
.venv
venv
__pycache__
**/__pycache__
*.py[cod]
*.db
*.db-wal
*.db-shm
data
Dockerfile
docker-compose.yml
.dockerignore
GUIDE.html
README.md
